# Notebook para Visualização de Dados

## Pegar Tabela

In [2]:
import pandas as pd
url="https://raw.githubusercontent.com/LANXDEV/Visualization/master/Teste_Python.csv"
tabela=pd.read_csv(url)

In [3]:
tabela

  Emissor Vencimento Rating   Emissao  Cupom  Duration  YTW  YTM
0     NKE   1/1/2027      A  1/1/2015      2       3.0  3.0  6.0
1    MSFT   1/1/2028     AA  1/1/2015      3       4.0  2.0  5.0
2     CVX   1/1/2029      B  1/1/2015      4       5.0  6.0  2.0
3    NLSN   1/1/2030     BB  1/1/2015      5       6.0  4.0  2.0
4    ITUB   1/1/2031    CCC  1/1/2015      6       7.0  4.0  3.0
5    BBDC   1/1/2032    BB+  1/1/2015      7       8.0  3.0  6.0
6    CSNA   1/1/2033     BB  1/1/2015      8       9.0  4.0  5.0